body {
    font-family: 'Poppins', sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
    padding: 0;
    padding-bottom: 50px;
}
main .content {
    flex: 1;
} 
.navbar {
    margin-bottom: 20px;
    color: white !important;
    background-color: teal !important;
}
.nav-link {
  color: white !important;
}
.nav-link:hover {
  color: paleturquoise  !important;
}

.list-group-item a {
    color: inherit;
    text-decoration: none;
}

.list-group-item a:hover {
    color: darkcyan;
    text-decoration: none;
}
.accordion-item, .list-group-item {
    border: 1px solid teal;
}
footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: teal;
    color: white;
    text-align: center;
    line-height: normal;
    font-size: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30px;
}
